{% extends "layout.html" %}

{% block body %}
  <script src="{{ url_for('static',filename='js/drawgraph.js') }}"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="{{ url_for('static',filename='js/conrec.js') }}"></script>
  <script src="{{ url_for('static',filename='js/plot.js') }}"></script>
  <script>
    $(function() {
    $( "#tabs" ).tabs();
    });
  </script>
  <body>
    <h1> emsee </h1>

    <div id="tabs">
      <ul>
	<li><a href="#onedee">One Dimension</a></li>
	<li><a href="#twodee">Two Dimensions</a></li>
      </ul>

      <div id="onedee">
	<p> Enter an equation in terms of x and I'll try to minimize it for you. </p>

	<input class="onedee" type="text" name="equation" value="cos(x)"/>
	<input class="onedee" type="text" name="xmin" value="-10"/>
	<input class="onedee" type="text" name="xmax" value="10"/>

	<a href="#" id="submit" class="onedee">submit equation</a>
	<p id="error"></p>
      </div>

      <div id="twodee">
	<p> Enter an equation in terms of x and y and I'll try to minimize it for you </p>

	<input class="twodee" type="text" name="equation"
	       value="(1-x)**2 + 100*(y-x**2)**2"/>
	<input class="twodee" type="text" name="xmin" value="-1.5"/>
	<input class="twodee" type="text" name="xmax" value="1.5"/>
	<input class="twodee" type="text" name="ymin" value="-0.5"/>
	<input class="twodee" type="text" name="ymax" value="3"/>

	<a href="#" id="submit" class="twodee">submit equation</a>
	<p id="error"></p>
      </div>
    </div>

    {# Plot will go here #}

  </body>

{% endblock %}
