<!doctype html>
<!-- <?xml version="1.0"?> -->

<h1> Thanks! </h1>

<p> Here is your plot: </p>

<svg xmlns="http://www.w3.org/2000/svg" 
     width="{{wwidth}}"
     height="{{wheight}}"
     <!-- viewPort="0 0 12 12" -->
     version="1.1">
  <!-- gs are for inverting the axis -->
  <g transform="translate(0,{{wheight}})">
    <g transform="scale(1,-1)">
      <!-- the line corresponding to the data -->
      <polyline fill="none"
		stroke="red"
		stroke-width="3"
		points="{{data|join(' ')}}"/>
      <!-- axes -->
      <line fill="none" stroke="black"
	    stroke-width="3"
	    x1="{{offset}}" y1="{{offset}}"
	    x2="{{offset}}" y2="{{pheight+offset}}"/>
      <line fill="none" stroke="black"
	    stroke-width="3"
	    x1="{{pwidth+offset}}" y1="{{offset}}"
	    x2="{{offset}}" y2="{{offset}}"/>
    </g>
  </g>
  <!-- labels -->
  <!-- xmax -->
  <text y="{{wheight-offset}}" x="{{wwidth-offset}}">
    {{xmax}}</text>
  <!-- ymax -->
  <text y="{{offset}}" x="{{offset}}">
    {{ymax}}</text>
  <!-- xmin -->
  <text y="{{wheight-offset}}" x="{{offset}}">
    {{xmin}}</text>
</svg>
