body {
  font: 15px sans-serif;
  margin: 2em;
}

/* SVG stuff */

svg {
    display: block;
}

path.line {
  fill: none;
  stroke: #B00000;
  stroke-width: 3px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis line {
  fill: none;
  stroke: #000;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

/* Loading spinner */

.loading {
    display: none;
    margin: 2em;
}

.loadingon {
    display: block;
}

/* Sections */

section {
    position: absolute;
}

section#d2 {
    opacity: 0; /* Hide 2d section initially. */
}
