body {
  font: 15px sans-serif;
  margin: 2em;
}

svg {
    display: block;
}

path.line {
  fill: none;
  stroke: #B00000;
  stroke-width: 3px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis line {
  fill: none;
  stroke: #000;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

/* Loading spinner */

.loading {
    display: none;
}