body {
  font: 15px sans-serif;
  overflow-x: hidden; /* Hack to get animations to work properly. */
  text-align: center;
}

/* SVG stuff */

svg {
    display: block;
    margin: auto;
}

path.line {
  fill: none;
  stroke: #B00000;
  stroke-width: 3px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis line {
  fill: none;
  stroke: #000;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

/* Selectors */

.selectors {
    padding: 0;
}

.selectors li {
    display: inline-block;
}

/* Loading spinner */

.loading {
    opacity: 0;
    display: inline;
}

/* Sections */

#d1, d2 {
    position: absolute;
    width: 1000px;
    margin-left:-500px;
    left:50%;
}

#d2 {
    opacity: 0; /* Hide 2d section initially. */
}

#d1 {
    z-index: 1; /* Make sure 1d section is in front initially. */
}

/* Fields */

.fields {
    margin: 1em;
}

.field {
    margin-top: 2px;
    margin-bottom: 2px;
}

.field label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

.field input {
    width: 100px;
}
